@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,600;0,700;0,800;0,900;1,200;1,400;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");

// font family
$roboto: "Roboto", sans-serif;

// colors
$red: red;
$red2:#f74e4d;
$white: #ffffff;
$gray1: #464a53;
$gray2: #f5f8fa;
$gray3: #f2f2f2;
$gray4:#DADADA;
$gray5:#9BA3AA;
$gray6:#AFBCCB;
$gray7:#AAAAAA;
$gray8:#7F93AB;
$gray9:#C0BCBC;
$gray10:#979797;
$blue1: #438afe;
$blue2: #0192ff;
$blue3: #3a86ff;
$blue4:#1A48A8;
$black:#000000;

// font weight
$fontweight1: 100;
$fontweight2: 200;
$fontweight3: 300;
$fontweight4: 400;
$fontweight5: 500;
$fontweight6: 600;
$fontweight7: 700;
$fontweight8: 800;
$fontweight9: 900;
